# letsencrypt-docker-compose configurations
config.json
html/
nginx-conf/
!nginx-conf/conf.d/upstreams.conf
!nginx-conf/conf.d/includes/

# Compose file holding secret/sensitive settings and evironment variables
docker-compose.secret.yml

# Persistent CouchDB data
couchdb_data/

# Credentials for Drive API
credentials.json
